.navbar {
	background-color: rgb(33, 37, 41);
}
/* .navbar {
	background-color: rgb(255, 255, 255);
} */
#contentOne {
	background-image: linear-gradient(rgba(0, 0, 0, 0.24), rgba(0, 0, 0, 0.572)), url('media/Brazil-e1556021926381-2500x1406.jpg');
	height: auto;
	background-size: auto;
	background-repeat: no-repeat;
}
